<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">Detalle Pedido</ion-title>    
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
  <app-form-pedido [pedido]="pedido"></app-form-pedido>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
     
      <ion-fab-button *ngIf="pedido.id != ''" (click)="chat()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button (click)="imprimir()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-fab-button>
      <br>
    </ion-fab>   
</ion-content> 


