<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">Detalle Pedido</ion-title>    
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
  <ion-row>
  <span class="pedido-item" *ngIf="comercio.config.comandas">
    <img style="width:18px;" src="../../../assets/img/chef_hat_icon.fw.png" alt=""> 
    <span *ngIf="pedido.comanda.estado == pEstado.rechazado" style="color: red;">Rechazado</span>
    <span *ngIf="pedido.comanda.estado == pEstado.tomado" style="color: blue;">En Curso</span>
    <span *ngIf="pedido.comanda.estado == pEstado.solicitado" style="color: blue;"> Solicitado</span>
    <span *ngIf="pedido.comanda.estado == pEstado.completo" style="color: green;"> Listo</span>
    <span *ngIf="pedido.comanda.estado == pEstado.finalizado" style="color: green;"> Listo</span>
  </span> 
   
  
  <ion-row> 
    <span class="pedido-item" *ngIf="pedido.statusCobro != cEstado.pendiente">
    
      <span *ngIf="pedido.statusCobro == cEstado.suspendido" style="color: red;">
        <ion-icon name="hand-right-outline"></ion-icon>  Suspendido
      </span>
      <span *ngIf="pedido.statusCobro == cEstado.cobrado" style="color: green;">
        Cobrado

        <span *ngIf="pedido.montoPagoEfectivo > 0">
          <ion-icon name="cash-outline"></ion-icon> Efectivo {{pedido.montoPagoEfectivo | currency}}
        </span>
        <span *ngIf="pedido.montoPagoDebito > 0">
          <ion-icon name="card-outline"></ion-icon> Débito {{pedido.montoPagoDebito | currency}}
        </span>
        <span *ngIf="pedido.montoPagoCredito > 0">
          <ion-icon name="card-outline"></ion-icon> Crédito {{pedido.montoPagoCredito | currency}}
        </span>
        <span *ngIf="pedido.montoPagoMercadoPago > 0">
          <ion-icon name="card-outline"></ion-icon> Mercado Pago {{pedido.montoPagoMercadoPago | currency}}
        </span>
        <span *ngIf="pedido.montoPagoCtaCorriente > 0">
          <ion-icon name="person-outline"></ion-icon> {{pedido.montoPagoCtaCorriente | currency}}
        </span>
         
      </span> 
      <span *ngIf="pedido.statusCobro == cEstado.reembolsado" style="color: red;"> <ion-icon name="play-back-outline"></ion-icon> Reembolsado</span>
    </span>
   </ion-row>
  </ion-row> 
  <ion-row>
    <span class="pedido-item" *ngIf="pedido.afipFactura.CAE" >
      <img style="width:18px;" src="../../../assets/img/logo_afip.fw.png" alt=""> Factura: {{pedido.afipFactura.CbteLetra}} {{pedido.afipFactura.CAE}}
    </span> 
    <ngx-qrcode 
      [value] = "afipQR"
      cssClass = "aclass"
      errorCorrectionLevel = "L">
    </ngx-qrcode>
  </ion-row>  

  
    <div class="pedido-item"> 
      <ion-icon name="cube-outline"></ion-icon> Items:
    </div>  
    <ion-list>  
      <ion-item-sliding *ngFor="let producto of pedido.items; let i = index">           
        <app-card-item-pedido
          [item]="producto"  
          [showStock]="false" 
          [showImage]="false"
          [showEnCarrito]="false"
          [multiplicador]="1" 
        ></app-card-item-pedido>  
        <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
          <ion-item-options side="end" *ngIf="pedido.statusCobro == cEstado.pendiente">
            <ion-item-option *ngIf="pedido.id != '' &&  producto.suspendido == 0" color="danger" (click)="suspenderProducto(producto,i)"><ion-icon name="trash"></ion-icon>Suspender</ion-item-option>
            <ion-item-option *ngIf="pedido.id == '' &&  producto.suspendido == 0" color="danger" (click)="suspenderProducto(producto,i)"><ion-icon name="trash"></ion-icon>Eliminar</ion-item-option>
            
            <ion-item-option *ngIf="producto.suspendido == 1" (click)="reanudarProducto(producto)">Reanudar</ion-item-option>
  
            
          </ion-item-options> 
        </span>      
        
      </ion-item-sliding>  

      <ion-text color="primary" *ngIf="pedido.descuentos.length > 0">
        <h4>Descuentos</h4>
      </ion-text> 
  
      <span *ngFor="let descuento of pedido.descuentos; let i = index">
        <ion-item-sliding>
          <ion-item>
            <ion-label>                
              <h2>
                <b><span *ngIf="descuento.tipo== enumTipo.porcentaje">%</span> <span *ngIf="descuento.tipo== enumTipo.monto">$</span> {{descuento.monto}}</b>  {{descuento.motivo}}             
              </h2>
            </ion-label>
          </ion-item>
          <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="eliminarDescuento(i)"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
            </ion-item-options>
          </span>
          
    
        </ion-item-sliding>
      </span>
  
      <ion-text color="primary" *ngIf="pedido.recargos.length > 0">
        <h4>Recargos</h4>
      </ion-text> 
  
      <span *ngFor="let recargo of pedido.recargos; let i = index">
        <ion-item-sliding>
          <ion-item>
            <ion-label>                
              <h2>
                <b><span *ngIf="recargo.tipo== enumTipo.porcentaje">%</span> <span *ngIf="recargo.tipo== enumTipo.monto">$</span> {{recargo.monto}}</b>  {{recargo.motivo}}             
              </h2>
            </ion-label>
          </ion-item>
          <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="eliminarRecargo(i)"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
            </ion-item-options>   
          </span>
           
        </ion-item-sliding>
      </span>
      <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
        <ion-button *ngIf="pedido.statusCobro == cEstado.pendiente" class="button-rounded" color="light" (click)="agregarItem()"><ion-icon name="add"></ion-icon> Item</ion-button>     
      </span>
      
    </ion-list>

    

    <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
      <ion-button class="button-rounded" color="light"  *ngIf="!pedido.clienteNombre && comercio.config.clientes" (click)="seleccionarCliente()"><ion-icon name="add"></ion-icon> Cliente</ion-button>    
    </span>
    
    <ion-item-sliding class="item-card" *ngIf="pedido.clienteNombre && comercio.config.clientes">
     
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{pedido.clienteNombre}}</h2>
          <p *ngIf="pedido.clienteDoc">{{pedido.clienteDocTipo}}: {{pedido.clienteDoc}}</p>
          <p *ngIf="pedido.clientePersonaJuridica == '1'">Responsable Inscripto</p>
          <p *ngIf="pedido.clientePersonaJuridica == '2'">Monotributista</p>
          <p *ngIf="pedido.clientePersonaJuridica == '3'">Iva Exento</p>
        </ion-label>  
      </ion-item>
      <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
        <ion-item-options side="end" *ngIf="pedido.statusCobro == cEstado.pendiente">
          <ion-item-option color="danger" (click)="eliminarCliente()"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
        </ion-item-options>
      </span>
      
    </ion-item-sliding>

    <ion-button class="button-rounded" color="light" *ngIf="!pedido.divisionNombre" (click)="seleccionarDivision()" ><ion-icon name="add"></ion-icon> {{comercio.subdivisiones.nombre}}</ion-button>
    
    
    <ion-item-sliding class="item-card" *ngIf="pedido.divisionNombre">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{pedido.divisionNombre}}</h2>
        </ion-label>      
      </ion-item>

      <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
        <ion-item-options side="end" *ngIf="pedido.statusCobro == cEstado.pendiente">
          <ion-item-option color="danger" (click)="eliminarDivision()"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
        </ion-item-options>
      </span>
      
    </ion-item-sliding>

    <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
      <ion-button *ngIf="!pedido.direccion.country" (click)="seleccionarUbicacion()" class="button-rounded" color="light"><ion-icon name="add"></ion-icon><ion-icon name="location-outline"></ion-icon>Dirección</ion-button>
    </span>
    
    <ion-item-sliding class="item-card" *ngIf="pedido.direccion.country">  
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="location-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{pedido.direccion.street_name}} {{pedido.direccion.street_number}},{{pedido.direccion.locality}},{{pedido.direccion.state}}. <br>
            <span *ngIf="pedido.direccion.piso"> Piso: {{pedido.direccion.piso}}</span>
            <span *ngIf="pedido.direccion.puerta"> Puerta: {{pedido.direccion.puerta}}</span>
            {{pedido.direccion.distanciaDelComercio}} Km.
          </h2>
        </ion-label>      
      </ion-item>
  
      <span *appCheckUsuarioPermisos="{feature:'pedidos',permiso:'Editor'}">
        <ion-item-options side="end" *ngIf="pedido.statusCobro == cEstado.pendiente">
          <ion-item-option color="danger" (click)="eliminarDireccion()"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
        </ion-item-options>
      </span>
      
    </ion-item-sliding>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
     
      <ion-fab-button *ngIf="pedido.id != ''" (click)="chat()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-fab-button>
      <br>
      <ion-fab-button (click)="imprimir()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-fab-button>
      <br>
    </ion-fab>   
</ion-content> 

<ion-footer class="ion-no-border ion-padding" *appCheckUsuarioPermisos="{feature:'cobro',permiso:'Editor'}">  
  <ion-toolbar>   
    <ion-button *ngIf="pedido.statusCobro == cEstado.suspendido" class="button-rounded"  color="primary" (click)="reanudar()">Reanudar</ion-button>
    <ion-button *ngIf="pedido.statusCobro == cEstado.cobrado" class="button-rounded"  color="danger" (click)="devolverPedido()">Reembolsar</ion-button>
    
    <ion-button *ngIf="!isUpdating" slot="start" class="button-rounded"  color="primary" (click)="guardar()">Guardar</ion-button>
    <ion-button slot="end" *ngIf="pedido.statusCobro != cEstado.cobrado && pedido.statusCobro == cEstado.pendiente" class="button-rounded"  color="success" (click)="cobrar()">Cobrar: ${{pedido.total}}</ion-button>
  </ion-toolbar> 
</ion-footer>
