<ion-header>
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>  
    <ion-title  size="small">Reservas</ion-title>    
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

  <app-search-filter-input
    [arrayAll]="itemsAll" 
    [parametros]="['clienteNombre','divisionNombre,']"
    [placeholder]="'Buscar por cliente'"
    (resultado)="mostrar($event)"
  >
  </app-search-filter-input>

  
  <full-calendar #fullcalendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *appCheckUsuarioPermisos="{feature:'reservas',permiso:'Editor'}" >

    <ion-fab-button (click)="cambiarLista()">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button><br>

    <ion-fab-button (click)="nuevaReserva()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

