<ion-header>
  <ion-toolbar>
    <ion-title>ticketFactura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table border="" cellspacing="1" cellpadding="4" width="523">
    <tbody><tr><td valign="TOP" colspan="8">
    <font size="2"></font><p><font size="2"></font><font face="Arial" size="2">(1) Nombre de fantasía, de corresponder</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(2) Apellido y Nombres/denominación o razón social</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(3) C.U.I.T.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(4) Ný inscripción Ingr. Brutos/no contribuyente.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(5) Domicilio comercial.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(6) Domicilio Fiscal.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(7) Fecha de inicio de actividades.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"><p>(8) Responsabilidad frente al I.V.A. </p>
    </font><p><font face="Arial" size="2">(9) Otras leyendas de interés comercial </font></p></td>
    </tr>
    <tr><td width="56%" valign="TOP" colspan="4">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(10) TIQUE FACTURA "A"</font></p></td>
    <td width="44%" valign="TOP" colspan="4">
    <font face="Arial"><blockquote>(11) - (12)</blockquote>
    </font><font face="Arial" size="2"></font><p><font face="Arial" size="2">Ný XXXX-XXXXXX</font></p></td>
    </tr>
    <tr><td width="56%" valign="TOP" colspan="4">&nbsp;</td>
    <td width="44%" valign="TOP" colspan="4">
    <font face="Arial"><blockquote>FECHA: (13)</blockquote></font></td>
    </tr>
    <tr><td width="56%" valign="TOP" colspan="4">&nbsp;</td>
    <td width="44%" valign="TOP" colspan="4">
    <font face="Arial"><blockquote>HORA: (14)</blockquote></font></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(15) Apellido y nombres/denominación o razón social.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(16) C.U.I.T.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(17) Responsabilidad frente al I.V.A. </font></p></td>
    </tr>
    <tr><td width="47%" valign="TOP" colspan="3">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(18) Domicilio comercial:</font></p></td>
    <td width="37%" valign="TOP" colspan="4">&nbsp;</td>
    <td width="16%" valign="TOP">&nbsp;</td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(19) Remito Ný:</font></p></td>
    </tr>
    <tr><td width="38%" valign="TOP" colspan="2" height="42">
    <font face="Arial" size="2"><p>(20) CANTIDAD/ </p>
    </font><p><font face="Arial" size="2">(21) PRECIO UNITARIO</font></p></td>
    <td width="27%" valign="TOP" colspan="3" height="42">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(23) (%) IVA</font></p></td>
    <td width="34%" valign="TOP" colspan="3" height="42"><p></p></td>
    </tr>
    <tr><td width="38%" valign="TOP" colspan="2">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(22) DESCRIPCIÓN</font></p></td>
    <td width="27%" valign="TOP" colspan="3">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(24) [% B.IVA]</font></p></td>
    <td width="34%" valign="TOP" colspan="3">
    <font face="Arial" size="2"></font><p align="CENTER"><font face="Arial" size="2">(25) PRECIO NETO </font></p></td>
    </tr>
    <tr><td width="38%" valign="TOP" colspan="2">
    <i><font face="Arial" size="2"></font></i><font face="Arial" size="2"></font><p><font face="Arial" size="2"><i>(Datos según el encabezamiento)</i></font></p></td>
    <td width="37%" valign="TOP" colspan="4">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(XX,XX)</font></p></td>
    <td width="25%" valign="TOP" colspan="2">&nbsp;</td>
    </tr>
    <tr><td width="38%" valign="TOP" colspan="2">&nbsp;</td>
    <td width="37%" valign="TOP" colspan="4">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">[XX,XX]</font></p></td>
    <td width="25%" valign="TOP" colspan="2">
    <font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2">XXXX,XX</font></p></td>
    </tr>
    <tr><td width="38%" valign="TOP" colspan="2">&nbsp;</td>
    <td width="37%" valign="TOP" colspan="4">&nbsp;</td>
    <td width="25%" valign="TOP" colspan="2">&nbsp;</td>
    </tr>
    <tr><td width="29%" valign="TOP">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(26) SUBTOT.</font></p></td>
    <td width="71%" valign="TOP" colspan="7">
    <font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2">XXXX,XX</font></p></td>
    </tr>
    <tr><td width="29%" valign="TOP">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(27)IVA XX,XX %. </font></p></td>
    <td width="71%" valign="TOP" colspan="7">
    <font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2">XXXX,XX</font></p></td>
    </tr>
    <tr><td width="29%" valign="TOP">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(28) IVA NO INSCRIPTO</font></p></td>
    <td width="71%" valign="TOP" colspan="7">
    <font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2">XXXX,XX</font></p></td>
    </tr>
    <tr><td width="29%" valign="TOP">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(29) PERCEPCION.</font></p></td>
    <td width="71%" valign="TOP" colspan="7">
    <font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2">XXXX,XX</font></p></td>
    </tr>
    <tr><td width="29%" valign="TOP">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(30) CONCEPTOS NO GRAVADOS</font></p></td>
    <td width="71%" valign="TOP" colspan="7">
    <font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2">XXXX,XX</font></p></td>
    </tr>
    <tr><td width="29%" valign="TOP">&nbsp;</td>
    <td width="71%" valign="TOP" colspan="7">
    <b><font face="Arial" size="2"></font></b><font face="Arial" size="2"></font><p align="RIGHT"><font face="Arial" size="2"><b>(31 )TOTAL XXXX,XX</b></font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(32) RECIBIMOS: <i>(formas de pago desarrolladas hasta en seis líneas)</i></font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"><p>(33) Otros datos y leyendas de interés del usuario </p>
    </font><p><font face="Arial" size="2">(34) Número de registro del controlador fiscal</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="8">
    <font face="Arial" size="2"></font><p><font face="Arial" size="2">(35) Logotipo fiscal</font></p></td>
    </tr>
    </tbody></table>
</ion-content>
