<div> 
  
  
  <div class="encabezado-card-general" [ngStyle]="{ 'background-color': item.estado.color}">     
    <ion-row> 
      <ion-col size="6" center text-center>            
        <ion-icon name="person"></ion-icon> {{item.creadorEmail}}
      </ion-col>      
      <ion-col size="6" >
        <div class="encabezado-time">
          {{item.estado.nombre}}
        </div>              
      </ion-col>
    </ion-row>
  </div> 
      
  <div class="contenido-card-pedido">       
       
    <ion-row>
      <div class="pedido-item">
        Desde:{{item.desde | date:'hh:mm aaa dd/MM/yy'}}
      </div>
      <div class="pedido-item">
        Hasta:{{item.hasta | date:'hh:mm aaa dd/MM/yy'}}
      </div>
    </ion-row>
    <ion-row> 
        <div class="pedido-item" *ngIf="item.items"> 
          <ion-icon name="cube-outline"></ion-icon> {{item.items.length}} 
        </div>
        
        <span class="pedido-item" *ngIf="item.clienteNombre" >
          <ion-icon name="person-outline"></ion-icon> {{item.clienteNombre}} 
        </span>
        <span class="pedido-item" *ngIf="item.divisionNombre" >
          <ion-icon name="grid-outline"></ion-icon> {{item.divisionNombre}} 
        </span>     
        
        <div class="pedido-item"> 
          <ion-icon name="chatbubble-outline"></ion-icon> 
        </div>
                
    </ion-row>  
    <ion-row>
      <span class="pedido-item" *ngIf="item.direccion.country" >
        <ion-icon name="location-outline"></ion-icon> 
        {{item.direccion.street_name}} {{item.direccion.street_number}},{{item.direccion.locality}},{{item.direccion.state}}. 
        <span *ngIf="item.direccion.piso"> Piso: {{item.direccion.piso}}</span>
        <span *ngIf="item.direccion.puerta"> Puerta: {{item.direccion.puerta}}</span>
        {{item.direccion.distanciaDelComercio}} Km.
      </span> 
    </ion-row>
  </div>
  
</div>
