
.message-input{
    width: 100%;
    border:1px solid grey;
    border-radius: 10px;
    background-color: white;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}
.msg-btn{
--pading-start:0.5em;
--pading-end:0.5em;
}