
ion-slide{
    width: 106.667px;
    background-color: lightgrey;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    line-height: 30px;
    margin:3px;
}


.seleccionado{
    background-color: green;
}


#notifications-badge {
    background-color: red;
    border-radius: 100%;
    margin: auto;
    margin-left: -30px;
}
