<ion-header>
  <ion-toolbar>    
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon  name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">     
  <div class="container-producto">       
    <app-card-item-pedido
    [item]="itemPedido"
    [multiplicador]="itemPedido.cantidad"
    ></app-card-item-pedido>        
  </div>  
  <ion-item class="item-producto-cantidad" lines="none">
    <ion-button class="button-block" slot="start" (click)="restarCantidad()"><ion-icon name="remove"></ion-icon></ion-button>
    <b>
      <span *ngIf="itemPedido.valorPor && (itemPedido.valorPor * itemPedido.cantidad)==1 && itemPedido.unidad == 'unidades'">
        {{itemPedido.valorPor * itemPedido.cantidad}} unidad 
      </span>

      <span *ngIf="itemPedido.valorPor && (itemPedido.valorPor * itemPedido.cantidad)==1 && itemPedido.unidad != 'unidades'">
        {{itemPedido.valorPor * itemPedido.cantidad}}  {{itemPedido.unidad}}
      </span>

      <span *ngIf="itemPedido.valorPor && (itemPedido.valorPor * itemPedido.cantidad)!=1">
        <span *ngIf="itemPedido.valorPor">
          {{itemPedido.valorPor * itemPedido.cantidad}}
        </span>
        <span *ngIf="itemPedido.unidad">
          {{itemPedido.unidad}}
        </span> 
      </span>  
    </b> 
    <ion-button class="button-block"  slot="end" (click)="sumarCantidad()">
      <ion-icon name="add"> </ion-icon>
    </ion-button> 
  </ion-item>
  

  <div *ngFor="let grupo of gruposOpciones; let grupoIndex=index" class="form-card">
    <ion-text color="primary" id="{{grupo.nombre}}">
      <h4>{{grupo.nombre}} </h4>
    </ion-text> 
    <div *ngIf="grupo.maximo == 1">      
      <p>Seleccione una opción</p>
      <ion-radio-group>        
       
          <ion-item *ngFor="let opcion of grupo.opciones;let i=index" class="remove_inner_bottom">
            <ion-radio slot="start" (click)="seleccionarOpcion(grupo,opcion)"></ion-radio>                      
            <ion-label text-wrap>
              <b>{{opcion.nombre}}</b> 
              <span *ngIf="opcion.precioVariacion != 0">
                {{opcion.precioVariacion | currency}}  
              </span>
            </ion-label>
          </ion-item>                  
       
      </ion-radio-group>
    </div>

    <div *ngIf="grupo.maximo > 1">
      <p>Seleccione de {{grupo.minimo}} a {{grupo.maximo}} opciones</p>
      <ion-item *ngFor="let opcion of grupo.opciones; let i = index" class="remove_inner_bottom">
        <ion-label> 
          {{opcion.nombre}}
          <span *ngIf="opcion.precioVariacion != 0">
            {{opcion.precioVariacion | currency}}  
          </span>
        </ion-label>
        <ion-button class="button-block-opcion" color="light" (click)="restarCantidadOpcion(grupoIndex,i)" [disabled]="opcion.cantidad == 0"><ion-icon name="remove"></ion-icon></ion-button>
        &nbsp;&nbsp;{{opcion.cantidad}}&nbsp;&nbsp;
        <ion-button class="button-block-opcion" color="light" (click)="sumarCantidadOpcion(grupoIndex,i)" [disabled]="!opcion.sumaHabilitada"><ion-icon name="add"></ion-icon></ion-button>
    
      </ion-item>
    </div> 
  </div>

  

  <div class="form-card">
    <ion-text color="primary">
      <h4>Descripcion adicional</h4>
    </ion-text> 
    
    <ion-textarea [(ngModel)]="itemPedido.descripcion_venta"></ion-textarea>
 
  </div>  

</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>  
    <ion-button class="button-rounded" slot="end" (click)="agregar()">Agregar</ion-button>  
  </ion-toolbar>
</ion-footer> 
