<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="container-producto">       
      <app-card-producto
      [item]="producto"
      [multiplicador]="producto.cantidad"
      ></app-card-producto>        
    </div>  
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">     

  <ion-item class="form-card item-producto-cantidad" lines="none">
    <ion-button class="button-block" slot="start" (click)="restarCantidad()"><ion-icon name="remove"></ion-icon></ion-button>
    <b>
      <span *ngIf="producto.valorPor && (producto.valorPor * producto.cantidad)==1 && producto.unidad == 'unidades'">
        {{producto.valorPor * producto.cantidad}} unidad 
      </span>

      <span *ngIf="producto.valorPor && (producto.valorPor * producto.cantidad)==1 && producto.unidad != 'unidades'">
        {{producto.valorPor * producto.cantidad}}  {{producto.unidad}}
      </span>

      <span *ngIf="producto.valorPor && (producto.valorPor * producto.cantidad)!=1">
        <span *ngIf="producto.valorPor">
          {{producto.valorPor * producto.cantidad}}
        </span>
        <span *ngIf="producto.unidad">
          {{producto.unidad}}
        </span> 
      </span>  
    </b> 
    <ion-button class="button-block"  slot="end" (click)="sumarCantidad()">
      <ion-icon name="add"> </ion-icon>
    </ion-button> 
  </ion-item>
  

  <div *ngFor="let grupo of gruposOpciones; let grupoIndex=index" class="form-card">
    <ion-text color="primary" id="{{grupo.nombre}}">
      <h4>{{grupo.nombre}} </h4>
    </ion-text> 
    <div *ngIf="grupo.maximo == 1">      
      <p>Seleccione una opción</p>
      <ion-radio-group>        
       
          <ion-item *ngFor="let opcion of grupo.opciones;let i=index" class="remove_inner_bottom">
            <ion-radio slot="start" (click)="seleccionarOpcion(grupo,opcion)"></ion-radio>                      
            <ion-label text-wrap>
              <b>{{opcion.nombre}}</b> 
              <span *ngIf="opcion.precioVariacion != 0">
                {{opcion.precioVariacion | currency}}  
              </span>
            </ion-label>
          </ion-item>                  
       
      </ion-radio-group>
    </div>

    <div *ngIf="grupo.maximo > 1">
      <p>Seleccione de {{grupo.minimo}} a {{grupo.maximo}} opciones</p>
      <ion-item *ngFor="let opcion of grupo.opciones; let i = index" class="remove_inner_bottom">
        <ion-label> 
          {{opcion.nombre}}
          <span *ngIf="opcion.precioVariacion != 0">
            {{opcion.precioVariacion | currency}}  
          </span>
        </ion-label>
        <ion-button class="button-block-opcion" color="light" (click)="restarCantidadOpcion(grupoIndex,i)" [disabled]="opcion.cantidad == 0"><ion-icon name="remove"></ion-icon></ion-button>
        &nbsp;&nbsp;{{opcion.cantidad}}&nbsp;&nbsp;
        <ion-button class="button-block-opcion" color="light" (click)="sumarCantidadOpcion(grupoIndex,i)" [disabled]="!opcion.sumaHabilitada"><ion-icon name="add"></ion-icon></ion-button>
    
      </ion-item>
    </div> 
  </div>

  

  <div class="form-card">
    <ion-text color="primary">
      <h4>Descripcion adicional</h4>
    </ion-text> 
    
    <ion-textarea [(ngModel)]="producto.descripcion_venta"></ion-textarea>
 
  </div>  

  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >

    <ion-fab-button (click)="editarProducto()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>  
    <ion-button class="button-rounded" slot="end" (click)="agregar()">Agregar</ion-button>  
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer> 
