<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Calendario</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="datosForm" >

    <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.nombre.valid}">
      <ion-text color="primary">
        <h4>Nombre *</h4>        
      </ion-text>
          
      <ion-item>
        <ion-input name="nombre" type="text" formControlName="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required"><h5>Ingresa el nombre del calendario</h5></div>
      </div> 
    </div>
  </form>  

  <div class="form-card" *ngIf="canElimianr">
    <ion-text color="danger">
      <h5 color="danger">zona de riesgo</h5>
    </ion-text>      
    <ion-button  color="danger" (click)="eliminar()">Eliminar Calendario</ion-button>
  </div>

  <ion-toolbar>
    <ion-button slot="end" (click)="guardar()">Guardar</ion-button>
    
    <ion-button slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>
</ion-content>