<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">Detalle Pedido</ion-title>    
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
    <app-form-pedido [pedido]="pedido" 
      (guardar)="cerrar()" 
      (cobrar)="cerrar()"
      (devolverPedido)="cerrar()"
      (reanudar)="cerrar()"
      (suspender)="cerrar()"
      (cancelar)="cerrar()"></app-form-pedido>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="pedido.id != ''">
     
      <app-button-chat [objeto]="'pedidos'" [id]="pedido.id"></app-button-chat>
      <br>
      <app-button-impresion [pedido]="pedido" [tipo]="ticket"></app-button-impresion>
      <br>
    </ion-fab>   
</ion-content> 