<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="datosForm" >
    <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.nombre.valid}">
      <ion-text color="primary">
        <h4>Nombre *</h4>        
      </ion-text>
          
      <ion-item>
        <ion-input name="nombre" type="text" formControlName="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required"><h5>Ingresa el nombre de la cuenta corriente</h5></div>
      </div> 
    </div>

    <div class="form-card">
      <ion-text color="primary">
        <h4>Monto Actual*</h4>        
      </ion-text>        
      <ion-item class="item-card">
        <ion-input name="monto" type="number" formControlName="montoTotal" required></ion-input>
      </ion-item>
    </div>
    
    <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.coTitularesId.valid}">
      <ion-text color="primary">
        <h4>Co-Titulares *</h4>        
      </ion-text>
      <ion-item *ngFor="let cliente of clientes;let i=index" class="item-card">
        <ion-avatar slot="start">
          <img src="{{cliente.foto}}" *ngIf="cliente.foto">
          <ion-icon name="person" *ngIf="!cliente.foto"></ion-icon>
        </ion-avatar>
        <ion-label text-wrap>
          <h2>{{cliente.nombre}}</h2>
          <p>{{cliente.email}}</p>
        </ion-label>      
        <ion-button color="danger" slot="end" (click)="eliminarCliente(i)"><ion-icon name="trash"></ion-icon></ion-button>       
      </ion-item>
      <ion-item style="border-bottom: none;" >
        <ion-button  size="large" (click)="seleccionarCliente()"  expand="block">Agregar Titular * </ion-button>
      </ion-item>
    </div>   

    

  </form>
  

    <ion-button *ngIf="updating" class="button-rounded"  color="danger" (click)="eliminar()">Eliminar Cta. Corriente</ion-button>
 

  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="button-rounded"  slot="end" (click)="guardar()">Guardar</ion-button>
    
    <ion-button class="button-rounded"  slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>