<ion-header>
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>  
    <ion-title  size="small">Reservas</ion-title>    
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

  <app-list-reservas-manager [vistaLista] = "vistaLista"></app-list-reservas-manager>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed"  >

    <ion-fab-button  (click)="verLista()">
      <ion-icon *ngIf="!vistaLista" name="list"></ion-icon>
      <ion-icon *ngIf="vistaLista" name="calendar"></ion-icon>
    </ion-fab-button><br>

    <ion-fab-button (click)="nuevaReserva()" *appCheckUsuarioPermisos="{feature:'reservas',permiso:'Editor'}">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
