<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Cliente</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button  *ngIf="comercio.config.beneficiosClientes" value="beneficios">
      <ion-label>Beneficios</ion-label>
    </ion-segment-button>
    <ion-segment-button value="seguimiento">
      <ion-label>Seguimiento</ion-label>
    </ion-segment-button>
  </ion-segment>  

  <div *ngIf="seccionActiva == 'info'">
    <ion-item (click)="enviarMail()" class="item-card">
      <div slot="start">      
        <ion-icon name="person-outline"></ion-icon>
      </div>      
      <ion-label text-wrap>
        <h2><b>{{cliente.nombre}}</b></h2>           
        <p>documento: {{cliente.documento}}</p>  
        <p>fecha nacimiento: {{cliente.fecha_nacimiento | date:'dd/MM/yyyy'}}</p>  
        <!--p>Cliente desde: {{cliente.createdAt.toDate()}}</p-->    
      </ion-label>  
    </ion-item>
  
    <ion-item (click)="enviarMail()" class="item-card">
      <div slot="start">      
        <ion-icon name="mail-outline"></ion-icon>
      </div>      
      <ion-label>
        <h2><b>{{cliente.email}}</b></h2>        
      </ion-label>  
    </ion-item>
  
    <ion-item (click)="llamar()" class="item-card">
      <div slot="start">      
        <ion-icon name="call-outline"></ion-icon>
      </div>      
      <ion-label>
        <h2><b>{{cliente.telefono}}</b></h2>        
      </ion-label>  
    </ion-item>
  
    <ion-item class="item-card">
      <div slot="start">      
        <ion-icon name="location-outline"></ion-icon>
      </div>      
      <ion-label>
        <h2><b>{{cliente.direccion}}</b></h2>        
      </ion-label>    
    </ion-item>
    
    
    <!--div id="mapA" class="map"></div-->
    
  
    <ion-item class="item-card"> 
      <div slot="start">      
        <ion-icon name="create-outline"></ion-icon>
      </div>       
      <ion-label> 
        <h2><b>{{cliente.descripcion}}</b></h2>        
      </ion-label>       
    </ion-item>  

    <h5>Cuentas Corrientes:</h5>
    <ion-button *ngIf="ctasCorrientes.length == 0" class="button-rounded" color="primary" (click)="crearCuentaCorriente()">Crear Cuenta Corriente</ion-button>
 
    
    <div *ngIf="ctasCorrientes.length != 0">
      <ion-list lines="none">
        <ion-item-sliding  class="item-card" *ngFor="let item of ctasCorrientes">
          <ion-item (click)="seleccionarCuentaCorriente(item)">           
            <ion-label>
              <p>  
                {{item.nombre}}
              </p> 
              <p>
                <b>{{item.montoTotal | currency}}</b> 
              </p>        
            </ion-label>         
          </ion-item> 
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="editarCtaCorriente(item)"><ion-icon name="trash" ></ion-icon> Editar</ion-item-option>
        </ion-item-options>
  
        </ion-item-sliding>
      </ion-list>
    </div>

  </div>
  <div *ngIf="seccionActiva == 'beneficios'">
    <ion-button  class="button-rounded" color="primary" (click)="agregarBeneficio()">Agregar Beneficio</ion-button>
    <ion-item-sliding *ngFor="let beneficio of beneficios" class="item-card">
      <ion-item>  
        <div slot="start">
          <ion-icon name="file-tray-full-outline"></ion-icon>
        </div>      
        <ion-label>
          <b>{{beneficio.descripcion}}</b>        
        </ion-label> 
      </ion-item>  
      <ion-item-options side="end">
        <ion-item-option (click)="cancelarBeneficio(beneficio)"><ion-icon name="trash" ></ion-icon>Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  
  <div *ngIf="seccionActiva == 'seguimiento'">

    <ion-item  class="item-card">
      <ion-label position="floating">Estado</ion-label>
      <ion-select [(ngModel)]="cliente.estado" (ionChange)="cambioEstado()">
        <ion-select-option *ngFor="let estado of estadosClientes" [value]="estado.id">{{estado.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button slot="end" (click)="openAddEstado()">Agregar Nuevo Estado</ion-button>
    <ion-list lines="none">
      <ion-item-sliding  class="item-card" *ngFor="let item of comentarios">
        <ion-item>           
          <ion-label>
            <p>  
              {{item.text}}
            </p>    
            <p>{{item.senderEmail}} -  {{item.createdAt.toDate() | date:'dd/MM/yyyy hh:mm'}}</p>
          </ion-label>         
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="eliminarComentario(item)"><ion-icon name="trash" ></ion-icon> Remover</ion-item-option>
      </ion-item-options>

      </ion-item-sliding>
    </ion-list>

  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
     
    <ion-fab-button (click)="agregarComentario()">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
   
  </ion-fab>
  
  

</ion-content>
