<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--ion-item *ngIf="rolActual == 'Administrador'">
    <ion-label>Habilitar Productos</ion-label>
    <ion-toggle [(ngModel)]="comercio.config.productos" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="rolActual == 'Administrador'">
    <ion-label>Habilitar Servicios</ion-label>
    <ion-toggle [(ngModel)]="comercio.config.servicios" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
  </ion-item-->


  <ion-button *ngIf="rolActual.rol == 'Administrador'" class="button-rounded"  (click)="editarComercio()">Datos Comercio</ion-button>


  <ion-button *ngIf="rolActual.rol != 'Administrador'" class="button-rounded"  color="danger" (click)="desvincular()"><ion-icon name="trash" ></ion-icon>Desvincular</ion-button>

  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Cobrar Sin realizar pedido</b><br>
         Desde el catálogo podrás armar el carrito y cobrarlo directamente sin utilizar el panel de pedidos.
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.cobrarDirectamente" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>    
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Mesas</b><br>
          Podrá asignar una mesa a cada pedido y gestionar los mismos en base a este parámetro
        </p>
       
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.mesas" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="comercio.config.mesas  && rolActual.rol == 'Administrador'" class="button-rounded"    (click)="openEditMesas()">Editar Mesas</ion-button>
  </ion-grid>

  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Panel Comandas</b><br>
          Desde un nuevo panel podrá gestionar el estado de sus pedidos. Ideal para una o varias cocinas
        </p>
        
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.comandas" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="comercio.config.comandas && rolActual.rol == 'Administrador'" class="button-rounded"    (click)="openEditCocinas()">Editar Cocinas</ion-button>
  </ion-grid>

  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Gestión Stock</b><br>
          Agregue stock a cada producto manualmente. El sistema resta automáticamente el stock cada vez que genera un pedido
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.stock" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Clientes</b><br>
          Realice un seguimiento de cada uno de sus clientes.
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.clientes" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 

  <ion-grid *ngIf="rolActual.rol == 'Administrador' && comercio.config.clientes">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Beneficios de clientes</b><br>
          Genere y registre beneficios y descuentos a sus clientes.
          
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.beneficiosClientes" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="comercio.config.beneficiosClientes  && rolActual.rol == 'Administrador'" class="button-rounded"    (click)="openBeneficiosClientes()">Editar Beneficios</ion-button>
  </ion-grid>

  <ion-grid *ngIf="rolActual.rol == 'Administrador' && comercio.config.clientes">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Beneficio por puntaje</b><br>
          Cree y administre su propio club de puntos con acciones automatizadas
          
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.beneficiosPorPuntaje" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="comercio.config.beneficiosPorPuntaje  && rolActual.rol == 'Administrador'" class="button-rounded"    (click)="openBeneficiosPuntaje()">Editar Puntaje y Beneficios</ion-button>
  </ion-grid>

 
  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Movimientos de Caja</b><br>
          Obtenga un detalle de cada movimiento que se generó en las cajas de su local
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.movimientosCajas" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Facturación AFIP</b><br>
          Realize cuando quiera factuaras electrónicas de cada uno de sus pedidos.
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.afip" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="rolActual.rol == 'Administrador'">
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Sincronizar Productos con Woocommerce</b><br>
          Sincronize su tienda online, gestione y reciba sus pedidos.
          
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.woocommerce" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-button *ngIf="comercio.config.woocommerce" class="button-rounded" (click)="openEditWoocommerce()">Configuración Woocommerce</ion-button>
  </ion-grid>



  <ion-button class="button-rounded" *ngIf="rolActual.rol == 'Administrador'"    (click)="openEditOpciones()">Editar Grupo Opciones</ion-button>
  <!--ion-button class="button-rounded" *ngIf="rolActual.rol == 'Administrador'"    (click)="openEditPedidos()">Configurar Pedidos</ion-button-->
  <ion-button class="button-rounded" *ngIf="rolActual.rol == 'Administrador'"   (click)="openEditHorarios()">Editar Horarios</ion-button>
  
  <ion-button class="button-rounded" *ngIf="rolActual.rol == 'Administrador'"   (click)="linkWhatsapp()">Link Whatsapp</ion-button>
  <ion-button class="button-rounded" *ngIf="rolActual.rol == 'Administrador'"   (click)="openEditCategorias()">Editar Categorias</ion-button>
  

  <ion-button class="button-rounded"    (click)="verImpresora()">Impresora</ion-button>
  
  <ion-button *ngIf="rolActual.rol == 'Administrador'"  class="button-rounded" color="danger" (click)="elimiar()">Eliminar Comercio</ion-button>

   
</ion-content> 
