<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  (click)="cancelar()"></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">Detalle Carrito</ion-title>   
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
   
    
    <app-carrito></app-carrito>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
   
      <ion-fab-button (click)="imprimir()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-fab-button>
      <br>
      
    </ion-fab>   

</ion-content> 

<ion-footer class="ion-no-border ion-padding"> 
  <ion-toolbar>   
    <ion-button slot="end" class="button-rounded"  color="success" (click)="cobrar()">Cobrar</ion-button>
    <ion-button slot="start" class="button-rounded"  color="primary" (click)="continuar()">Guardar</ion-button>
  </ion-toolbar>
</ion-footer> 
