  <div> 
    <div *ngIf="item.divisionNombre" class="encabezado-card-mesa">
      <ion-row> 
        <ion-col size="6" center text-center>            
          <ion-icon name="person"></ion-icon> {{item.creadorEmail}}
        </ion-col>     
        <ion-col size="6" >
          <div class="encabezado-time">
            <ion-icon name="time-outline"></ion-icon>
            {{item.createdAt.toDate() | date:'hh:mm aaa dd/MM/yy'}}
            <ion-icon name="receipt-outline"></ion-icon>
            {{item.comanda.numero}}
          </div>              
        </ion-col>
      </ion-row>
    </div> 
    
    <div *ngIf="!item.divisionNombre" class="encabezado-card-general">     
      <ion-row> 
        <ion-col size="6" center text-center>            
          <ion-icon name="person"></ion-icon> {{item.creadorEmail}}
        </ion-col>      
        <ion-col size="6" >
          <div class="encabezado-time">
            <ion-icon name="time-outline"></ion-icon>
            {{item.createdAt.toDate() | date:'hh:mm aaa dd/MM/yy'}}
            <ion-icon name="receipt-outline"></ion-icon>
            {{item.comanda.numero}}
          </div>              
        </ion-col>
      </ion-row>
    </div> 
        
    <div class="contenido-card-pedido">     
      <ion-row>
        <span class="pedido-item" *ngIf="comercio.config.comandas">
          <img style="width:18px;" src="../../../assets/img/chef_hat_icon.fw.png" alt=""> 
          <span *ngIf="item.comanda.estado == pEstado.rechazado" style="color: red;">Rechazado</span>
          <span *ngIf="item.comanda.estado == pEstado.tomado" style="color: blue;">En Curso</span>          
          <span *ngIf="item.comanda.estado == pEstado.solicitado" style="color: blue;"> Solicitado</span>
          <span *ngIf="item.comanda.estado == pEstado.completo" style="color: green;"> Listo</span>
          <span *ngIf="item.comanda.estado == pEstado.finalizado" style="color: green;"> Listo</span>

          <span *ngIf="item.comanda.demora" class="minutos-restantes" (click)="open()"> <ion-icon name="alarm-outline"></ion-icon> Tiempo restante: {{minutosRestantes}} min.</span>
        </span> 
       
      </ion-row>    
       
      <ion-row>
        <span class="pedido-item" *ngIf="item.statusCobro == cEstado.suspendido" style="color: red;">
          <ion-icon name="hand-right-outline"></ion-icon>  Suspendido
        </span>

        <span class="pedido-item" *ngIf="item.statusCobro == cEstado.cobrado" style="color: green;">           
          <ion-icon name="cash-outline"></ion-icon> Cobrado
        </span>
  
        <span class="pedido-item" *ngIf="item.statusCobro == cEstado.cobrado"> 
          <span *ngIf="item.montoPagoEfectivo > 0">
            Efectivo  {{item.montoPagoEfectivo | currency}}
          </span>
          <span *ngIf="item.montoPagoDebito > 0">
            Débito {{item.montoPagoDebito | currency}}
          </span>
          <span *ngIf="item.montoPagoCredito > 0">
            Crédito {{item.montoPagoCredito | currency}}
          </span>
          <span *ngIf="item.montoPagoMercadoPago > 0">
            Mercado Pago {{item.montoPagoMercadoPago | currency}}
          </span>
          <span *ngIf="item.montoPagoCtaCorriente > 0">
            Cta. Corriente  <ion-icon name="person-outline"></ion-icon> {{item.montoPagoCtaCorriente | currency}}
          </span>
             
        </span> 
      
        <span *ngIf="item.statusCobro == cEstado.reembolsado" style="color: red;"> 
          <ion-icon name="play-back-outline"></ion-icon> Reembolsado
        </span>

        <span class="pedido-item" *ngIf="item.afipFactura.CAE != ''" >
          <img style="width:18px;" src="../../../assets/img/logo_afip.fw.png" alt=""> Factura: {{item.afipFactura.CbteLetra}}
        </span> 
       </ion-row>    
         
      <ion-row> 
          <div class="pedido-item" *ngIf="item.items"> 
            <ion-icon name="cube-outline"></ion-icon> {{item.items.length}} 
          </div>
          
          <span class="pedido-item" *ngIf="item.clienteNombre" >
            <ion-icon name="person-outline"></ion-icon> {{item.clienteNombre}} 
          </span>
          <span class="pedido-item" *ngIf="item.divisionNombre" >
            <ion-icon name="grid-outline"></ion-icon> {{item.divisionNombre}} 
          </span>     
          
          <div class="pedido-item"> 
            <ion-icon name="chatbubble-outline"></ion-icon> 
          </div>
                  
      </ion-row>  
      <ion-row>
        <span class="pedido-item" *ngIf="item.direccion.country" >
          <ion-icon name="location-outline"></ion-icon> 
          {{item.direccion.street_name}} {{item.direccion.street_number}},{{item.direccion.locality}},{{item.direccion.state}}. 
          <span *ngIf="item.direccion.piso"> Piso: {{item.direccion.piso}}</span>
          <span *ngIf="item.direccion.puerta"> Puerta: {{item.direccion.puerta}}</span>
          {{item.direccion.distanciaDelComercio}} Km.
        </span> 
      </ion-row>
    </div>
    <div *ngIf="item.primerMensaje"  class="footer-card-mensajes">     
      <ion-row> 
        <ion-icon name="chatbox-outline"></ion-icon>&nbsp; {{item.primerMensaje}} 
      </ion-row>
    </div> 
  </div>

