<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
    <form [formGroup]="datosForm">
      <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.nombre.valid}">
        <ion-text color="primary">
          <h4>Nombre *</h4>        
        </ion-text>            
        <ion-item>
          <ion-input name="nombre" type="text" formControlName="nombre" required></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required"><h5>Ingresa el nombre de la mesa</h5></div>
        </div> 
      </div>
    </form>
    <a href="{{url}}" target="_blank">{{url}}</a> 
    <ion-card class="form-card"> 
      <ngx-qrcode 
          [elementType]="elementType" 
          [value] = "value"
          cssClass = "aclass"
          errorCorrectionLevel = "L">
      </ngx-qrcode>
    </ion-card>

    <ion-item>
      <ion-label>Habilitar Comandas Por Carta Digital</ion-label>
      <ion-toggle [(ngModel)]="mesa.habilitarComandasApp"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Habilitar Llamador de mozo</ion-label>
      <ion-toggle [(ngModel)]="mesa.habilitarLlamadorMozoApp"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Habilitar Notificaciones:</ion-label>
      <ion-toggle [(ngModel)]="mesa.habilitarNotificaciones"></ion-toggle>
    </ion-item>

    <div *ngIf="mesa.habilitarNotificaciones">
      <ion-item  class="item-card">
        <ion-button  size="large" (click)="agregarEncargado()"  expand="block">Asignar Usuario * </ion-button>
      </ion-item>

      <ion-item-sliding *ngFor="let encargado of encargados;let i= index" class="item-card" >    
        <ion-item>
          <div slot="start">
            <ion-icon name="person-outline"></ion-icon>
          </div>   
          <ion-label>
            <h3>{{encargado.userEmail}}</h3>
            <p>Estado invitacion: 
              <span *ngIf="encargado.estado == 'pendiente'" style="color:blue">{{encargado.estado}}</span>
              <span *ngIf="encargado.estado == 'aceptado'" style="color:green">{{encargado.estado}}</span>
              <span *ngIf="encargado.estado == 'rechazado'" style="color:red">{{encargado.estado}}</span>
            </p>
          </ion-label>            
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="eliminarEncargado(i)"><ion-icon name="trash" ></ion-icon>Destituir</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div> 
    
    <ion-button *ngIf="updating" class="button-rounded"  color="danger" (click)="elimiar()">Eliminar Mesa</ion-button>
 
    
</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button class="button-rounded" slot="end" (click)="guardar()">Guardar</ion-button>    
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>