<ion-header>
  <ion-toolbar>
    <ion-title  size="small">chat</ion-title>
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row *ngFor="let mensaje of mensajes">
   
      <ion-col size="9" *ngIf="user.email !== mensaje.senderEmail" class="FadeOut FadeIn">
        <p>
          <span class="email">{{mensaje.senderEmail}}</span><br>
          <span>{{mensaje.text}}</span><br>
          <ion-icon name="time-outline"></ion-icon> {{mensaje.createdAt.toDate() | date:'hh:mm aaa - dd/MM'}}
        </p>
        
        
      
      </ion-col>    
  
      <ion-col offset="3" size="9" *ngIf="user.email === mensaje.senderEmail" class="FadeOut FadeIn">
        <ion-item-sliding class="message my-message">
          <ion-item class="remove_inner_bottom message my-message">
            <p>
              <span>{{mensaje.text}}</span><br>
              <span class="time"><ion-icon name="time-outline"></ion-icon> {{mensaje.createdAt.toDate() | date:'hh:mm aaa - dd/MM'}}</span>
            </p>
            
          </ion-item>
          
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="eliminar(mensaje)"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
      </ion-col>

     

  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row aling-items-center no-padding>
      <ion-col size="10">
        <textarea autosize maxRow="3" [(ngModel)]="comentario.text" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="comentario.text === ''" class="msg-btn" (click)="enviar()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
        
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
