.message{
 border-radius:10px;
 white-space: pre-wrap;
}

.other-message{
    background-color: var(--ion-color-tertiary);
    color:white;
}

.other-message ion-item{
    --ion-background-color: var(--ion-color-tertiary) !important;
    color:white !important;
}

.my-message{
    background-color: var(--ion-color-secondary);
    color:white;
}

.my-message ion-item{
    --ion-background-color: var(--ion-color-secondary) !important;
    color:white !important;
}

.email{
    font-size: small;
}

.time{
    color:lightgray;
    float: right;
    font-size: small;
}

.message-input{
    width: 100%;
    border:1px solid grey;
    border-radius: 10px;
    background-color: white;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}
.msg-btn{
--pading-start:0.5em;
--pading-end:0.5em;
}

