<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Egreso de caja</ion-title>    
  </ion-toolbar>
</ion-header>
 
<ion-content  class="ion-padding">

  <ion-item class="item-card">
    <ion-label position="floating">Método</ion-label>
    <ion-select [(ngModel)]="metodoPagoSeleccionado">
      <ion-select-option [value]="'efectivo'">Efectivo</ion-select-option>
      <ion-select-option [value]="'debito'">Débito</ion-select-option>
      <ion-select-option [value]="'credito'">Crédito</ion-select-option>
      <ion-select-option [value]="'ctaCorriente'">Cta. Corriente</ion-select-option>
    </ion-select>    
  </ion-item>

  <ion-item *ngIf="metodoPagoSeleccionado == 'efectivo'" class="item-card">
    <ion-label position="floating">Caja</ion-label>
    <ion-select [(ngModel)]="cajaSeleccionadaIndex" (ionChange)="setearCaja()">
      <span *ngFor="let caja of cajas;let i=index">
        <ion-select-option [value]="i">{{caja.nombre}}</ion-select-option>
      </span>          
    </ion-select> 
  </ion-item>

  

  <form [formGroup]="datosForm">  

    <div class="form-card">
      <ion-text color="primary">
        <p *ngIf="metodoPagoSeleccionado == 'efectivo'">Total Efectivo {{totalActual | currency}}</p>
        <h4>Monto *</h4> 
      </ion-text> 
              
      <ion-item [class.invalid]="submitted && !datosForm.controls.monto.valid">
        <ion-input name="monto" type="number" formControlName="monto" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.monto.errors" class="invalid-feedback">
          <div *ngIf="f.monto.errors.required"><h5>Ingresa un monto</h5></div>
      </div>  
    </div>
            
    <div class="form-card">
      <ion-text color="primary">
        <h4>Motivo</h4>    
      </ion-text> 
      <ion-item [class.invalid]="submitted && !datosForm.controls.motivo.valid">
        <ion-textarea formControlName="motivo" required></ion-textarea>
      </ion-item>
      <div *ngIf="submitted && f.motivo.errors" class="invalid-feedback">
        <div *ngIf="f.motivo.errors.required"><h5>Ingresa un motivo</h5></div>
      </div> 
    </div>
    
   
   
  </form>  


  <ion-toolbar>
    <ion-button class="button-rounded" slot="end" (click)="guardar()">Guardar</ion-button>
    
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>

</ion-content>
