<ion-content >
  <ion-grid class="login-background" style="padding: 0px;">
    <ion-row style="height: 100%;">
      <ion-col size-md="0" size-sm="0" size-xs="0">
        <div class="login-imagen-container" [hidden]="devWidth < 576">
          <img src="../../assets/img/login.fw.png" alt="">
        </div>
        
      </ion-col >
      <ion-col size-md="4" style="text-align:center;">
        
        <div class="login-section"> 
          <img  width="80px" src="../../assets/img/icon.fw.png" alt="">        
          <app-form-login></app-form-login>
        </div>  
       
      </ion-col>
      <ion-col size-md="1" size-xs="0">

      </ion-col>
    </ion-row>
  </ion-grid>
  
  


</ion-content>

