.advertencia{
    background-color: #2dd36f;
    padding: 3px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.espacio{
    height:15px;
    width:100%;
    background-color:white;
}

.stock{
    font-size: 12px;
    color:grey;
}