<ion-header>
  <ion-toolbar>    
    <ion-title>Seleccionar Mesa</ion-title>    
  </ion-toolbar>
</ion-header>


<ion-content style="margin-top: 50px;" class="ion-padding">  
  <ion-row>     
      <ion-input placeholder="Buscar" style="border:1px solid rgb(206, 206, 206); border-radius: 5px;"
      [(ngModel)]="palabraFiltro" (ionChange)="buscar()"
      ></ion-input> 
  </ion-row>

  <ion-list lines="none">   
    
    <ion-item-sliding *ngFor="let item of items" class="item-card" >    

      <ion-item (click)="seleccionar(item)" > 
        <ion-label text-wrap>
          <h2><b>{{item.nombre}}</b></h2>
        </ion-label>  
      </ion-item>
    
      <ion-item-options side="end">
        <ion-item-option (click)="editar(item)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>

 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="nuevo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="space">
    
  </div> 
  
</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>    
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>
