<ion-item class="remove_inner_bottom" (click)="seleccionar()">
  <ion-avatar slot="start" *ngIf="showAvatar">
    <img src="{{cliente.foto}}" *ngIf="cliente.foto">
    <ion-icon name="person" *ngIf="!cliente.foto"></ion-icon>
  </ion-avatar>
  <ion-label>
    <h2>{{cliente.nombre}}</h2>
    <h3 *ngIf="cliente.email">{{cliente.email}}</h3>
    <h3 *ngIf="cliente.direccion.street_name">{{cliente.direccion}}</h3>
    <p *ngIf="cliente.direccion.documento">{{cliente.documentoTipo}}: {{cliente.documento}}</p> 
  </ion-label>             
</ion-item>
