<ion-header>
  <ion-toolbar>    
    <ion-title  size="small">Seleccionar Clientes</ion-title>  
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>  
  </ion-toolbar>
</ion-header>


<ion-content style="margin-top: 50px;" class="ion-padding">  

  <app-list-cliente
    (seleccionado)="select($event)"
  ></app-list-cliente>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="nuevo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
</ion-content>