<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>List Subscripciones</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  
  <ion-row>
    <ion-col size="10">
      <ion-input placeholder="Buscar" style="border:1px solid rgb(206, 206, 206); border-radius: 5px;"
      [(ngModel)]="palabraFiltro"
      ></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button color="primary" style="margin-top: -1px; height: 42px;"  (click)="buscar()">
          <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list lines="none">    
    <div *ngFor="let item of itemsView">
      <app-card-subscription [item]="item"></app-card-subscription>
    </div>
    
  </ion-list>

</ion-content>