<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  size="small">Subscripciones</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  
  <app-search-filter-input
    [arrayAll]="itemsAll" 
    [parametros]="['clienteNombre','id']"
    [placeholder]="'Buscar por cliente'"
    (resultado)="mostrar($event)"
  >

  </app-search-filter-input>
  
  <ion-list lines="none">    
    <div *ngFor="let item of itemsView">
      <ion-item-sliding class="item-card" *appCheckUsuarioPermisos="{feature:'subscripciones',permiso:'Visible',creador:item.creadorEmail}">    
        <app-card-subscription [subscripcion]="item" (select)="ver(item)"></app-card-subscription>
        <span *appCheckUsuarioPermisos="{feature:'subscripciones',permiso:'Editor'}">
          <ion-item-options side="end">
            <ion-item-option (click)="editarSubscripcion(item)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
          </ion-item-options>
        </span>
     
    
    </ion-item-sliding>
    </div>
    
  </ion-list>

  <span *appCheckUsuarioPermisos="{feature:'subscripciones',permiso:'Editor'}">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="nuevaSubscripcion()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </span>
  
</ion-content>