<ion-header>
  <ion-toolbar>
    <ion-title  size="small">Cobrar {{getTotal()}} / Vuelto: {{vuelto}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngIf="cajas.length > 0" class="item-card">
    <ion-label position="floating">Caja</ion-label>
    <ion-select [(ngModel)]="cajaSeleccionadaIndex" (ionChange)="setearCaja()">
      <span *ngFor="let caja of cajas;let i=index">
        <ion-select-option [value]="i" selected>{{caja.nombre}}</ion-select-option>
      </span>          
    </ion-select> 
  </ion-item>

  <ion-item class="item-card">
    <ion-label position="floating">Método</ion-label>
    <ion-select multiple=true [(ngModel)]="metodoPagoSeleccionado" (ionChange)="setMontos()">
      <ion-select-option *ngIf="cajas[cajaSeleccionadaIndex].efectivo" [value]="'efectivo'">Efectivo</ion-select-option>
      <ion-select-option *ngIf="cajas[cajaSeleccionadaIndex].debito" [value]="'debito'">Débito</ion-select-option>
      <ion-select-option *ngIf="cajas[cajaSeleccionadaIndex].credito" [value]="'credito'">Crédito</ion-select-option>
      <ion-select-option *ngIf="comercio.mercadoPago.publicKey" [value]="'mercadopago'">Mercado Pago</ion-select-option>
      <ion-select-option *ngIf="ctasCorrientes.length > 0" [value]="'ctaCorriente'">Cta. Corriente</ion-select-option>
    </ion-select>    
  </ion-item>

  <ion-row *ngIf="metodoPagoSeleccionado.includes('efectivo')">
    <ion-col size="8">
      <ion-item class="item-card">
        <ion-label position="floating" >Monto en efectivo</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="pedido.montoPagoEfectivo" (ionChange)="setPagoTotal()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="metodoPagoSeleccionado.includes('debito')">
    <ion-col size="8">
      <ion-item class="item-card">
        <ion-label position="floating" >Monto en débito</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="pedido.montoPagoDebito" (ionChange)="setPagoTotal()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="metodoPagoSeleccionado.includes('credito')">
    <ion-col size="8">
      <ion-item class="item-card">
        <ion-label position="floating" >Monto en crédito</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="pedido.montoPagoCredito" (ionChange)="setPagoTotal()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="metodoPagoSeleccionado.includes('mercadopago')">
    <ion-col size="8">
      <ion-item class="item-card">
        <ion-label position="floating" >Monto a cobrar con Mercado Pago</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="pedido.montoPagoMercadoPago" (ionChange)="setPagoTotal()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item class="item-card" *ngIf="metodoPagoSeleccionado.includes('ctaCorriente')">
    <ion-label position="floating" >Cuenta Corriente:</ion-label>
    <ion-select  [(ngModel)]="ctaCorrienteSelecccionadaId">
      <ion-select-option *ngFor="let cta of ctasCorrientes" [value]="cta.id">{{cta.nombre}}</ion-select-option>
    </ion-select>    
  </ion-item>

  <ion-col size="8" *ngIf="metodoPagoSeleccionado.includes('ctaCorriente')">
    <ion-item class="item-card">
      <ion-label position="floating" >Monto en cta. corriente</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="pedido.montoPagoCtaCorriente" (ionChange)="setPagoTotal()"></ion-input>
    </ion-item>
  </ion-col>
  
  <ion-item class="item-card">
    <ion-checkbox color="primary" slot="start" [(ngModel)]="facturar" (ionChange)="updateFacturar($event)"  [disabled]="!habilitadoFacturar"></ion-checkbox>
    <ion-label> <img class="afip-logo" src="../../assets/img/logo_afip.png" alt=""> Generar Factura Afip</ion-label>
  </ion-item>

</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button class="button-rounded" slot="end" (click)="ValidarMercadoPago()">Cobrar</ion-button>      
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>  
 </ion-footer>