<ion-app>
  <ion-split-pane when="(min-width: 3400px)" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list"  >
          <ion-list-header *ngIf="comercioSeleccionado.id">{{comercioSeleccionado.nombre}}</ion-list-header>
          <ion-note *ngIf="usuario">{{usuario.email}}</ion-note>
          <!--ion-buttons slot="primary"-->
          <ion-button *ngIf="connectionStatus == 'online'" class="button-rounded"  color="success">
            <ion-icon name="cloud-done-outline"></ion-icon>
          </ion-button>
          <ion-button  *ngIf="connectionStatus == 'offline'" class="button-rounded"  color="danger">
            <ion-icon name="cloud-offline-outline"></ion-icon>
          </ion-button>

          <!--/ion-buttons-->
        </ion-list>
        <ion-list id="inbox-list" *ngIf="comercioSeleccionado.id">          

          <ion-menu-toggle auto-hide="false">

            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero' || rolActual=='Mesero'">
              <ion-item [routerLink]="['/list-productos-servicios']" lines="none" detail="false">
                <ion-icon slot="start" name="cart-outline"></ion-icon>
                <ion-label>Catálogo</ion-label>
              </ion-item>
            </span>  

            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero' || rolActual=='Mesero'">
              <ion-item  [routerLink]="['/list-pedidos']" lines="none" detail="false">
                <ion-icon slot="start" name="archive-outline"></ion-icon>
                <ion-label>Pedidos</ion-label> 
              </ion-item> 
            </span>

            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero'">
              <ion-item *ngIf="comercioSeleccionado.config.mesas" [routerLink]="['/list-mesas']" lines="none" detail="false">
                <ion-icon slot="start" name="grid-outline"></ion-icon>
                <ion-label>Mesas</ion-label>               
              </ion-item>
            </span> 

            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cocinero'">
              <ion-item *ngIf="comercioSeleccionado.config.comandas" [routerLink]="['/list-comandas-v2']" lines="none" detail="false">
                <ion-icon slot="start" name="receipt-outline"></ion-icon>
                <ion-label>Comandas</ion-label>
                <ion-badge color="primary" *ngIf="cantComandas != 0" slot="end">{{cantComandas}}</ion-badge>
              </ion-item>
            </span> 

            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero'">
              <ion-item *ngIf="comercioSeleccionado.config.clientes" [routerLink]="['/list-clientes']" lines="none" detail="false">
                <ion-icon slot="start" name="people-outline"></ion-icon>
                <ion-label>Clientes</ion-label>
              </ion-item>
            </span>           
      
            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero'">
              <ion-item *ngIf="comercioSeleccionado.config.clientes" [routerLink]="['/list-cta-corrientes']" lines="none" detail="false">
                <ion-icon slot="start" name="wallet-outline"></ion-icon>
                <ion-label>Ctas. Corrientes</ion-label>
              </ion-item>
            </span>         

            <!--ion-item [routerLink]="['/list-calendarios']" lines="none" detail="false">
              <ion-icon slot="start" name="calendar-outline"></ion-icon>
              <ion-label>Calendarios</ion-label>
            </ion-item-->
            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero'">
              <ion-item [routerLink]="['/list-cajas']" lines="none" detail="false">
                <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
                <ion-label>Cajas</ion-label> 
              </ion-item> 
            </span>
          
            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero'">
              <ion-item *ngIf="comercioSeleccionado.config.servicios" [routerLink]="['/list-subscripciones']" lines="none" detail="false">
                <ion-icon slot="start" name="clipboard-outline"></ion-icon>
                <ion-label>Subscripciones</ion-label>
              </ion-item>
            </span>

            <span *ngIf="rolActual == 'Administrador' || rolActual=='Cajero'">
              <ion-item *ngIf="comercioSeleccionado.config.mesas" [routerLink]="['/list-personal']" lines="none" detail="false">
                <ion-icon slot="start" name="people-outline"></ion-icon>
                <ion-label>Personal</ion-label>               
              </ion-item>
            </span> 
            
            <span>
              <ion-item [routerLink]="['/form-comercio-configuracion']" lines="none" detail="false">
                <ion-icon slot="start" name="cog-outline"></ion-icon>
                <ion-label>Configuración</ion-label>
              </ion-item>   
            </span>                    

          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list" *ngIf="usuario">

          <ion-menu-toggle auto-hide="false" >
            <ion-item (click)="verComercios()" routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label> Mis Comercios </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appActions; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <ion-badge color="danger" *ngIf="p.badge != 0" slot="end">{{p.badge}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" >
            <ion-item (click)="cerrarSesion()" routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="exit-outline"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
