<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cajas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  
  <div *ngIf="buscando" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/buscando.fw.png" alt="">
    <p>Cargando cajas, aguarde unos segundos por favor</p>
  </div>

  <div *ngIf="!buscando && cajas.length == 0" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/caja.fw.png" alt="">
    <p>Aún no tienes cajas, agrega una para hacer un seguimiento de tus egresos e ingresos.</p><br>
    <ion-button class="button-rounded"  color="primary" (click)="openAddCaja()">Agregar Caja</ion-button>
  </div>

  <ion-grid *ngIf="cajas.length > 0">       
    <ion-row>          
      <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let caja of cajas">
        <ion-item-sliding  class="item-card">
          <ion-item (click)="seleccionar(caja.id)" class="remove_inner_bottom">  
            <div slot="start">
              <ion-icon name="file-tray-full-outline"></ion-icon>
            </div>      
            <ion-label>
              <b>{{caja.nombre}}</b>         
            </ion-label> 
            <ion-badge color="success" *ngIf="caja.estado == 'abierta'" slot="end">Abierta</ion-badge>
            <ion-badge color="danger" *ngIf="caja.estado == 'cerrada'" slot="end">Cerrada</ion-badge>
          </ion-item>  
    
          
    
          <ion-item-options side="end">
            <ion-item-option (click)="openEditCaja(caja)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
          </ion-item-options>
    
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">        
    
      
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddCaja()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
