<ion-header>
  <ion-toolbar>
    <ion-title>bConConsumidorFinal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table border="" cellspacing="1" cellpadding="4" width="633">
    <tbody><tr><td width="39%" valign="TOP" height="36">
    <font size="2"></font><p><font size="2"></font><font face="Courier (W1)" size="2">(1) NOMBRE DE FANTASÍA </font></p><font face="Courier (W1)" size="2">
    </font><p><font face="Courier (W1)" size="2">(2) APELLIDO Y NOMBRE ó RAZÓN SOCIAL</font></p></td>
    <td width="14%" valign="TOP" colspan="2" height="36">
    <b><font face="Verdana" size="4"></font></b><font face="Verdana" size="4"></font><p align="CENTER"><font face="Verdana" size="4"><b>B</b></font></p></td>
    <td width="47%" valign="TOP" height="36">
    <font face="Courier (W1)" size="2"><p align="CENTER">(6)FACTURA Ný (7-8) 0001-00000001 </p>
    </font><p align="RIGHT"><font face="Courier (W1)" size="2">(9)FECHA Y HORA:</font></p></td>
    </tr>
    <tr><td width="46%" valign="TOP" colspan="2">
    <font face="Courier (W1)" size="2"><p>(3) DOMICILIO COMERCIAL </p>
    <p>(4) DOMICILIO FISCAL </p>
    </font><p><font face="Courier (W1)" size="2">(5) IVA RESPONSABLE INSCRIPTO</font></p></td>
    <td width="54%" valign="TOP" colspan="2">
    <font face="Courier (W1)" size="2"><p align="RIGHT">(10) CUIT: </p>
    <p align="RIGHT">(11) ING. BRUTOS: </p>
    </font><p align="RIGHT"><font face="Courier (W1)" size="2">(12) INICIO ACTIVIDADES:</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="4" height="60">
    <font face="Courier (W1)" size="2"><p>IDENTIFICACIÓN (ADQUIRENTE-LOCATARIO-PRESTATARIO) </p>
    <p>(14) APELLIDO Y NOMBRE, DENOMINACIÓN ó RAZÓN SOCIAL </p>
    <p>(15) DOMICILIO (17) CUIT/LE/LC/DNI/PASAPORTE </p>
    </font><p><font face="Courier (W1)" size="2">(16) A CONSUMIDOR FINAL/IVA EXENTO/IVA NO RESPONSABLE (18) REMITO/S Ný/Nos.</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="4">
    <font face="Courier (W1)" size="2"><p>(19) CANTIDAD (20)DESCRIPCIÓN (21)PRECIO (22)ALICUOTA (23)%BASE (24)PRECIO </p>
    <p>UNITARIO IVA IVA NETO </p>
    </font><p><font face="Courier (W1)" size="2">(31) TOTAL </font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="4" height="45">
    <font face="Courier (W1)" size="2"></font><p><font face="Courier (W1)" size="2">(32) RECIBI(MOS):</font></p></td>
    </tr>
    <tr><td valign="TOP" colspan="4" height="5">
    <font face="Courier (W1)" size="2"></font><p><font face="Courier (W1)" size="2">(34) Ný REGISTRO CONTROLADOR FISCAL</font></p></td>
    </tr>
    </tbody></table>
</ion-content>
