<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Comandas</ion-title>    
  </ion-toolbar>
</ion-header>
<ion-toolbar [hidden]="devWidth > 576">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="rechazados">Rechazados ({{itemsRechazados.length}})</ion-segment-button>
    <ion-segment-button value="pendientes">Pendientes ({{itemsPendientes.length}})</ion-segment-button>
    <ion-segment-button value="proceso">En proceso ({{itemsProceso.length}})</ion-segment-button>
    <ion-segment-button value="listas">Listas ({{itemsListas.length}})</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="ion-padding" style="margin-top: 50px;">  
  <ion-item class="form-select"> 
    <ion-label position="floating">Desde</ion-label>
    <ion-select multiple="false" (ionChange)="onChangeAtras($event)">
      <ion-select-option  [value]="1" selected>Ayer</ion-select-option>
      <ion-select-option  [value]="2">2 días atras</ion-select-option>
      <ion-select-option  [value]="7">Una semana atrás</ion-select-option>
    </ion-select>       
  </ion-item> 
  <ion-row>
    <ion-col size="8"> 
      <ion-searchbar animated 
        placeholder="Buscar por cliente o mesa"
        animated="true"
        showCancelButton="never" 
        color="light" 
        autocomplete="on"
        enterkeyhint="send"
        inputmode="text"
        type="text"
        debounce="300"
        value="{{palabraFiltro}}"
        (ionChange)="onChange($event)">
      </ion-searchbar>
    </ion-col>    
    <ion-col size="4">
      <ion-item class="form-select"> 
        <ion-label position="floating">Cocina</ion-label>
        <ion-select multiple="true" (ionChange)="onChangeCocina($event)" [(ngModel)]="cocinaFiltro">
          <ion-select-option *ngFor="let cocina of cocinas" [value]="cocina.id" selected>{{cocina.nombre}}</ion-select-option>
        </ion-select>       
      </ion-item>  
    </ion-col>
  </ion-row>
  


  <span [hidden]="devWidth > 576">
    
    <ion-list lines="none" *ngIf="seccionActiva == 'pendientes'">     
      <div *ngFor="let item of itemsPendientes">   
        <app-card-comanda-v2 [pedido]="item"></app-card-comanda-v2>
      </div>
    </ion-list>

    <ion-list lines="none" *ngIf="seccionActiva == 'proceso'">     
      <div *ngFor="let item of itemsProceso">   
        <app-card-comanda-v2  [pedido]="item"></app-card-comanda-v2>
      </div>
    </ion-list> 

    <ion-list lines="none" *ngIf="seccionActiva == 'listas'">     
      <div *ngFor="let item of itemsListas">   
        <app-card-comanda-v2  [pedido]="item"></app-card-comanda-v2>
      </div>
    </ion-list>

    <ion-list lines="none" *ngIf="seccionActiva == 'rechazados'">     
      <div *ngFor="let item of itemsRechazados">   
        <app-card-comanda-v2 [pedido]="item"></app-card-comanda-v2>
      </div>
    </ion-list>

  </span>

  <span [hidden]="devWidth < 576">
    <ion-grid>
      <ion-row>
        
        <ion-col>
          <ion-list lines="none">   
            <h5>Pendientes ({{itemsPendientes.length}})</h5>  
            <div *ngFor="let item of itemsPendientes">   
              <app-card-comanda-v2  [pedido]="item"></app-card-comanda-v2>
            </div>
          </ion-list> 
        </ion-col>
        <ion-col>
          <ion-list lines="none">  
            <h5>En Proceso ({{itemsProceso.length}})</h5>    
            <div *ngFor="let item of itemsProceso">   
              <app-card-comanda-v2  [pedido]="item"></app-card-comanda-v2>
            </div>
          </ion-list> 
        </ion-col>
        <ion-col> 
          <ion-list lines="none">  
            <h5>Listas  ({{itemsListas.length}})</h5>     
            <div *ngFor="let item of itemsListas">   
              <app-card-comanda-v2  [pedido]="item"></app-card-comanda-v2>
            </div>
          </ion-list> 
        </ion-col>
        <ion-col>
          <ion-list lines="none">   
            <h5>Suspendidos ({{itemsRechazados.length}})</h5>  
            <div *ngFor="let item of itemsRechazados">   
              <app-card-comanda-v2  [pedido]="item"></app-card-comanda-v2>
            </div>
          </ion-list> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </span>
 
  
  <div *ngIf="buscando" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/buscando.fw.png" alt="">
    <p>Cargando comandas, aguarde unos segundos por favor</p>
  </div>

  <div *ngIf="!buscando && pedidosAll.length == 0" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/comandas.fw.png" alt="">
    <p>Aún no tienes comandas</p>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="nuevoPedido()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

