.tiempo-restante-1{
    border: 5px solid #1de99b !important;
    border-radius: 10px !important;
}

.tiempo-restante-2{
    border: 5px solid #e9911d !important;
    border-radius: 10px !important;
}

.tiempo-restante-3{
    border: 5px solid #e9241d !important;
    border-radius: 10px !important;
}

.tiempo-restante-4{
    border: none !important;
    border-radius: 10px !important;
}