<ion-card class="item-card" [ngClass]="{
  'tiempo-restante-1': restantesPorcentaje > 60, 
  'tiempo-restante-2': restantesPorcentaje < 60 && restantesPorcentaje > 20, 
  'tiempo-restante-3': restantesPorcentaje < 20,
  'tiempo-restante-4': pedido.comanda.estado != pEstado.tomado
}">  
  <div *ngIf="pedido.divisionNombre" class="encabezado-card-mesa ion-padding">
    <ion-row> 
      <ion-col size="6" center text-center>            
        <ion-icon name="person"></ion-icon> {{pedido.creadorEmail}}
      </ion-col>     
      <ion-col size="6" >
        <div class="encabezado-time">
          <ion-icon name="time-outline"></ion-icon>
          {{pedido.createdAt.toDate() | date:'hh:mm aaa dd/MM/yy'}}
          <ion-icon name="receipt-outline"></ion-icon>
          {{pedido.comanda.numero}}
        </div>              
      </ion-col>
    </ion-row>
  </div> 
  
  <div *ngIf="!pedido.divisionNombre" class="encabezado-card-general">     
    <ion-row> 
      <ion-col size="6" center text-center>            
        <ion-icon name="person"></ion-icon> {{pedido.creadorEmail}}
      </ion-col>      
      <ion-col size="6" >
        <div class="encabezado-time">
          <ion-icon name="time-outline"></ion-icon>
          {{pedido.createdAt.toDate() | date:'hh:mm aaa dd/MM/yy'}}
          <ion-icon name="receipt-outline"></ion-icon>
          {{pedido.comanda.numero}}
        </div>              
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding">
    <span *ngIf="pedido.statusCobro == cEstado.suspendido"> <b style="color: red;"> Suspendido!</b></span>
    <span *ngIf="pedido.statusCobro == cEstado.cobrado"> <b style="color: green;"> Cobrado</b></span>
    <span *ngIf="pedido.statusCobro == cEstado.reembolsado"> <b style="color: green;"> Reembolsado</b></span>
    
    <span *ngIf="pedido.mesaId">Mesa: {{pedido.divisionNombre}}</span>
    <span *ngIf="pedido.clienteId">Cliente: {{pedido.clienteNombre}}</span> 
    <span *ngIf="pedido.comanda.demora" (click)="open()"> <ion-icon name="alarm-outline"></ion-icon> Tiempo restante: {{minutosRestantes}} min.</span>
  </div>
  
  <ion-item>                
    <ion-label>            
      <span *ngFor="let item of pedido.items; let i = index">
        <ion-item *ngIf="cocinasFiltro.includes(item.cocinaId)">            
          <ion-label>                
            <h2><b>{{item.cantidad}} X {{item.nombre}}</b> 
              <span *ngIf="pedido.statusCobro == cEstado.suspendido"> <b style="color: red;"> Suspendido</b></span>
            </h2>            
            <span *ngFor="let opcion of item.opcionesSeleccionadas">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-text-green">{{opcion.cantidad}}X </span>{{opcion.nombreGrupo}} {{opcion.nombre}} </p>
            </span>           
            <p>
              {{item.descripcion_venta}} 
            </p>              
          </ion-label>  
          <ion-checkbox slot="end" [(ngModel)]="item.listoComanda"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="!cocinasFiltro.includes(item.cocinaId)">            
          <ion-label style="opacity: 0.1;">                
            <h2><b>{{item.cantidad}} X {{item.nombre}}</b> 
              <span *ngIf="pedido.statusCobro == cEstado.suspendido"> <b style="color: red;"> Suspendido</b></span>
            </h2>            
            <span *ngFor="let opcion of item.opcionesSeleccionadas">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-text-green">{{opcion.cantidad}}X </span>{{opcion.nombreGrupo}} {{opcion.nombre}} </p>
            </span>           
            <p>
              {{item.descripcion_venta}}
            </p>              
          </ion-label>   
        </ion-item>
      </span>                     
    </ion-label>    
  </ion-item>
  <ion-item *appCheckUsuarioPermisos="{feature:'comandas',permiso:'Editor'}"> 
    <ion-toolbar>
      <ion-button class="button-rounded" *ngIf="pedido.comanda.estado ==  pEstado.solicitado" color="light" slot="start" (click)="rechazar()">Rechazar</ion-button>
      <ion-button class="button-rounded" *ngIf="pedido.comanda.estado == pEstado.solicitado" slot="end" (click)="tomar()">Tomar</ion-button>  
  
      <ion-button class="button-rounded" *ngIf="pedido.comanda.estado == pEstado.tomado" color="light" slot="start" (click)="cancelar()">Cancelar</ion-button>
      <ion-button class="button-rounded" *ngIf="pedido.comanda.estado == pEstado.tomado" slot="end" (click)="listo()">Listo</ion-button> 
  
      <ion-button class="button-rounded" *ngIf="pedido.comanda.estado == pEstado.completo" color="light" slot="start" (click)="volver()">Volver</ion-button>        
      <ion-button class="button-rounded" *ngIf="pedido.comanda.estado == pEstado.completo" color="danger" slot="end" (click)="finalizar()">Finalizar</ion-button>                   
    </ion-toolbar>
    
  </ion-item>
</ion-card>
