.btn_eye_icon{ 
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btn_eye_icon:focus{
    outline: none  !important;
}

form{
    padding:30px; 
    text-align: center;
    min-width: 300px;
}


.login-card{
  
    background-color: white;
    opacity: 0.95;
    border-style: none !important;  
    border-bottom: none;
    border-radius: 5px;
    border-top: none; 
    margin-bottom: 16px;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.32);
    
  } 
  
  .login-section{
    /*margin-top: 5vh;*/
    height: 80vh;
    padding: 30px;
  }