<ion-header>
  <ion-toolbar>    
    <ion-title  size="small">Dirección</ion-title>  
    <ion-button fill="clear" (click)="cerrar()" color="primary" slot="end">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>  
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 
  <div>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input autocomplete="off" id="pac-input" [(ngModel)]="direccion"  type="text" autofocus="true"></ion-input>
    </ion-item>
  </div>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Piso</ion-label>
        <ion-input name="piso" type="text" [(ngModel)]="localizacion.piso"></ion-input>
      </ion-item>      
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Puerta</ion-label>
        <ion-input name="piso" type="text" [(ngModel)]="localizacion.puerta"></ion-input>
      </ion-item>   
    </ion-col>
  </ion-row>  
  <div class="map-container">
    <div id="mapDiv" class="map"></div>
  </div>  
  Distancia: {{localizacion.distanciaDelComercio}} Km.
</ion-content>
<ion-footer>
  <ion-toolbar>   
    <ion-button slot="end" class="button-rounded"  color="success" (click)="guardar()">Guardar</ion-button>
  </ion-toolbar> 

</ion-footer>