<ion-header>
  <ion-toolbar>
    <ion-title>aConRespInscripto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table border="" cellspacing="1" cellpadding="4" width="652">
    <tbody>
      <tr>
        <td width="42%" valign="TOP" height="36">
          <font size="2"></font>
          <p>
            <font size="2"></font>
            <font face="Courier (W1)" size="2">{{comercio.nombre}}</font>
          </p>
          <font face="Courier (W1)" size="2"></font>
          <p>
            <font face="Courier (W1)" size="2">Razón Social: {{pedido.afipFactura.emisor.razonSocial}}</font>
          </p>
        </td>
        <td width="11%" valign="TOP" colspan="2" height="36">
          <b>
            <font face="Verdana" size="4"></font>
          </b>
          <font face="Verdana" size="4"></font>
          <p align="CENTER">
            <font face="Verdana" size="4"><b>A</b></font>
          </p>
        </td>
        <td width="47%" valign="TOP" height="36">
          <font face="Courier (W1)" size="2">
            <p align="CENTER"><b>Punto de Venta:</b> {{pedido.afipFactura.emisor.ptoVenta}} <b>Comp. Nro:</b> {{pedido.afipFactura.voucherNumber}} </p>
          </font>
          <p align="RIGHT">
            <font face="Courier (W1)" size="2">
              <b>Fecha de Emisión:</b>{{pedido.afipFactura.fechaEmision}}
            </font>
          </p>
        </td>
      </tr>
      <tr>
        <td width="47%" valign="TOP" colspan="2">
          <font face="Courier (W1)" size="2">
            <p>
              <b>Domicilio:</b>
              {{comercio.direccion.street_name}} {{comercio.direccion.street_number}} 
              <span *ngIf="comercio.direccion.floor_number"> Piso: {{comercio.direccion.floor_number}}</span>
              <span *ngIf="comercio.direccion.door_number"> Puerta: {{comercio.direccion.door_number}},</span>
              <span *ngIf="comercio.direccion.state"> {{comercio.direccion.state}},</span>
              <span *ngIf="comercio.direccion.country"> {{comercio.direccion.country}</span>        
            </p>
          </font>
          <p>
            <font face="Courier (W1)" size="2">IVA RESPONSABLE INSCRIPTO</font>
          </p>
        </td>
        <td width="53%" valign="TOP" colspan="2">
          <font face="Courier (W1)" size="2">
            <p align="RIGHT"><b>{{pedido.afipFactura.emisor.tipoDoc}}:</b> {{pedido.afipFactura.emisor.nroDoc}}</p>
            <p align="RIGHT">Ingresos. Brutos: {{pedido.afipFactura.emisor.ingresosBrutos}}</p>
          </font>
          <p align="RIGHT"><font face="Courier (W1)" size="2"><b>Fecha de Inicio de Actividades:</b>{{pedido.afipFactura.emisor.fechaInicioActividades}}</font></p>
        </td>
      </tr>
    <tr>
      <td valign="TOP" colspan="4" height="60">
        <p>Apellido y Nombre / Razón Social: {{pedido.afipFactura.receptor.nombre}}</p>
        <p><b>Domicilio:</b>{{pedido.afipFactura.receptor.direccion}} <b>CUIT:</b> {{pedido.afipFactura.receptor.cuit}} </p>
        <p><font face="Courier (W1)" size="2">Condición frente al IVA: IVA Responsable inscripto</font></p>
        <p><b>Condición de venta:</b>
          <span *ngIf="pedido.montoPagoEfectivo != 0">
            contado
          </span>
          <span *ngIf="pedido.montoPagoDebito != 0">
            débito
          </span>
          <span *ngIf="pedido.montoPagoCredito != 0">
            crédito
          </span>
          <span *ngIf="pedido.montoPagoCtaCorriente != 0">
            cuenta corriente
          </span>
          <span *ngIf="pedido.montoPagoMercadoPago != 0">
            crédito
          </span>
          {{pedido.afipFactura.receptor.direccion}}</p>
      </td>
    </tr>
    <!--tr>
      <td valign="TOP" colspan="4">
        <font face="Courier (W1)" size="2"><p>(19) CANTIDAD (20)DESCRIPCIÓN (21)PRECIO (22)ALICUOTA (23)%BASE (24)PRECIO </p>
        <p>UNITARIO IVA IVA NETO </p>
        <p>(25)Subtot. (26)Alícuota (27) IVA (28) Percepciones IVA(29) Percepciones Otros (30)Conceptos No </p>
        <p>IVA Gravados </p>
        </font><p><font face="Courier (W1)" size="2">(31) TOTAL </font></p>
      </td>
    </tr-->
    <tr>
      <td>
        <tbody>
          <tr>
            <td bgcolor="#cccccc" height="20"><b>Código</span></b>
            <td bgcolor="#cccccc" height="20"><b>Producto/Servicio</b></td>
            <td bgcolor="#cccccc" height="20"><strong>Cantidad</strong></td>
            <td bgcolor="#cccccc" height="20"><b>U. medida</b></td>
            <td bgcolor="#cccccc" height="20"><b>Precio Unit.</b></td>
            <td bgcolor="#cccccc" height="20"><b>% Bonif.</b></td>
            <td bgcolor="#cccccc" height="20"><b>Imp. Bonif.</b></td>
            <td bgcolor="#cccccc" height="20"><b>Subtotal</b></td>
          </tr>
          <tr>
          <td *ngFor="let item of pedido.items" class="courier8pts" height="15">@172()---------</td>
            <td class="courier8pts">@513()-----------------------------------------------</td>
            <td class="courier8pts txtright">@110()--</td>
            <td class="courier8pts txtright">@113()------</td>
            <td class="courier8pts txtright">@112()------</td>
            <td class="courier8pts">@513()-----------------------------------------------</td>
            <td class="courier8pts txtright">@110()--</td>
            <td class="courier8pts txtright">@113()------</td>
            <td class="courier8pts txtright">@112()------</td>
          </tr>
        </tbody>
      </td>
    <tr>
      <td valign="TOP" colspan="4" height="39">
        <font face="Courier (W1)" size="2"></font>
        <p><font face="Courier (W1)" size="2">(32) RECIBI(MOS):</font></p>
      </td>
    </tr>
    <tr>
      <td valign="TOP" colspan="4" height="70">
      <font size="2"></font>
      <p><font size="2"><img src="Image1.gif" width="117" height="30"></font>
      <font face="Courier (W1)" size="2">(33) C.A.I. Ný </font></p>
      <font face="Courier (W1)" size="2">
        <p>(34) FECHA DE VENCIMIENTO: </p>
        <p>(35) Ný REGISTRO CONTROLADOR FISCAL </p>
      </font><p><font face="Courier (W1)" size="2">(36)</font></p>
    </td>
    </tr>
    </tbody></table>
</ion-content>
