<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Notificaciones</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="buscando" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/buscando.fw.png" alt="">
    <p>Cargando comandas, aguarde unos segundos por favor</p>
  </div>

  <div *ngIf="!buscando && notificaciones.length == 0" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/notificaciones.fw.png" alt="">
    <p>Aún no tienes notificaciones.</p>
  </div>

    <ion-item *ngFor="let notificacion of notificaciones;let i=index" class="item-card">   
      <!--div slot="start">
        <img src="{{notificacion.foto}}" *ngIf="notificacion.foto">
        <ion-icon name="cube-outline" *ngIf="!notificacion.foto"></ion-icon>
      </div-->          
      <ion-label>
        <p>{{notificacion.titulo}}</p>
        <h3>{{notificacion.mensaje}}</h3>
        <p>{{notificacion.createdAt.toDate() | date:'dd/MM/yyyy (EEE) - hh:mm aaa'}}</p>       
      </ion-label> 
      <ion-button slot="end" color="danger" (click)="eliminar(notificacion)"><ion-icon name="trash" ></ion-icon></ion-button>
     
    </ion-item>  

</ion-content>
