<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Grupo de Opciones</ion-title>
  </ion-toolbar> 
</ion-header> 
 
<ion-content class="ion-padding">

  <div *ngIf="buscando" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/buscando.fw.png" alt="">
    <p>Cargando comandas, aguarde unos segundos por favor</p>
  </div>

  <div *ngIf="!buscando && grupos.length == 0" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/gruposOpciones.fw.png" alt="">
    <p>Aún no tienes grupos de opciones.</p>
  </div>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let grupo of grupos;let i=index" class="item-card">
      <ion-item>        
        <ion-label>
          <b>{{grupo.nombre}}</b>         
        </ion-label> 
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="openEditGrupo(grupo)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>   
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddGrupo()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>