
  <ion-item (click)="seleccionar()">           
    <ion-label>
      <h2><b>{{subscripcion.clienteNombre}} </b> </h2>
      <p>
        Periodo: {{subscripcion.frecuency}} 
        <span *ngIf="subscripcion.frequency_type == 'months'">
          Meses
        </span>
        <span *ngIf="subscripcion.frequency_type == 'days'">
          Días         
        </span> <br> 
        Comienzo: {{subscripcion.start_date}}
        <span *ngIf="subscripcion.end_date">Fin: {{subscripcion.end_date}}</span><br>
        <b>Monto: {{subscripcion.transaction_amount | currency}}</b>

      </p>
    </ion-label>         
  </ion-item>

