

  <ion-grid>
    <ion-row *ngFor="let mensaje of mensajes">
     
        <ion-col size="9" *ngIf="user.email !== mensaje.senderEmail" class="FadeOut FadeIn">
          <p>
            <span class="email">{{mensaje.senderEmail}}</span><br>
            <span>{{mensaje.text}}</span><br>
            <ion-icon name="time-outline"></ion-icon> {{mensaje.createdAt.toDate() | date:'hh:mm aaa - dd/MM'}}
          </p>
          
          
        
        </ion-col>    
    
        <ion-col offset="3" size="9" *ngIf="user.email === mensaje.senderEmail" class="FadeOut FadeIn">
          <ion-item-sliding class="message my-message">
            <ion-item class="remove_inner_bottom message my-message">
              <p>
                <span>{{mensaje.text}}</span><br>
                <span class="time"><ion-icon name="time-outline"></ion-icon> {{mensaje.createdAt.toDate() | date:'hh:mm aaa - dd/MM'}}</span>
              </p>
              
            </ion-item>
            
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="eliminar(mensaje)"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          
        </ion-col>
  
       
  
    </ion-row>
  </ion-grid>
  
