<ion-item (click)="seleccionar()" class="remove_inner_bottom">
  <div slot="start" *ngIf="showImage && item.imagenes">
    <img class="producto-preview" *ngIf="item.imagenes[0]" src="{{item.imagenes[0].url}}" >
    <ion-icon name="cube-outline" *ngIf="!item.imagenes[0]"></ion-icon>
  </div>      
  <ion-label style="color:black">                
    <h2><b>{{item.nombre}}</b> 
      <span *ngIf="item.suspendido == 1"> <b style="color: red;"> Suspendido</b></span>
    </h2>
    <p>
      <span *ngIf="item.valorPor && (item.valorPor * item.cantidad)==1 && item.unidad == 'unidades'">
        {{item.valorPor * item.cantidad}} unidad
      </span>

      <span *ngIf="item.valorPor && (item.valorPor * item.cantidad)==1 && item.unidad != 'unidades'">
        {{item.valorPor * item.cantidad}}  {{item.unidad}}
      </span>

      <span *ngIf="item.valorPor && (item.valorPor * item.cantidad)!=1">
        <span *ngIf="item.valorPor">
          {{item.valorPor * item.cantidad}}
        </span>        
        <span *ngIf="item.unidad">
          {{item.unidad}}
        </span> 
      </span> 
     
      <b>{{item.precio * item.cantidad | currency}} </b>    <br> 
      
            
     
    </p>
    <span *ngIf="showOpcionesSeleccionadas">

      <div *ngFor="let opcion of item.opcionesSeleccionadas">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="color-text-green">{{opcion.cantidad}}X </span>{{opcion.nombreGrupo}} {{opcion.nombre}} <span *ngIf="opcion.precioVariacion != 0">{{opcion.precioVariacion | currency}}</span></h3>
      </div> 
    </span>  
      
    <span *ngIf="showStock">stock: {{item.stock}}</span>
    <p>
      {{item.descripcion_venta}}
    </p>

    <span *ngIf="showEnCarrito">
      <ion-badge color="success" *ngIf="item.enCarrito && item.valorPor">En Carrito: {{item.enCarrito * item.valorPor}} {{item.unidad}}</ion-badge> 
      <ion-badge color="success" *ngIf="item.enCarrito && !item.valorPor">En carrito: {{item.enCarrito}} {{item.unidad}}</ion-badge>      
    </span>
  </ion-label>  
</ion-item>