<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>    
    <ion-title  size="small">Home</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="buscandoComercios" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/buscando.fw.png" alt="">
    <p>Cargando comercios, aguarde unos segundos por favor</p>
  </div>

  <div *ngIf="!buscandoComercios && comercios.length == 0" class="mensaje FadeOut FadeIn">
    <img src="../../assets/img/comercio.fw.png" alt="">
    <p>Aún no tienes comercios! Agregar uno nuevo</p>
  </div>
  
  

  <ion-list lines="none">     
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-xs="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of comercios" >
          <ion-card class="FadeOut FadeIn" (click)="seleccionar(item)">
            <img *ngIf="item.icono.url !=''" width="500px" src="{{item.icono}}"/>
            <img *ngIf="item.icono.url == ''" width="500px" src="../../assets/img/empty-image.fw.png"/>
            <ion-card-content text-center>
              <h2><b>{{item.nombre}}</b> </h2>
              <p>
                {{item.rol.rol}}
              </p>  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </ion-list>
 

  <ion-fab *ngIf="!buscandoComercios"  vertical="bottom" horizontal="end" slot="fixed" (click)="nuevoComercio()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
