<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">{{comercio.subdivisiones.nombre}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-search-filter-input
  [arrayAll]="comercio.subdivisiones.items" 
  [parametros]="['nombre']"
  [placeholder]="''"
  (resultado)="mostrar($event)"
  >
  </app-search-filter-input>

  <span *ngIf="comercio.subdivisiones.items.length > 0">       
    <ion-item class="item-card" *ngFor="let division of viewItems;let i=index" (click)="seleccionar(i)">       
      <ion-label>
        <b>{{division.nombre}}</b>         
      </ion-label> 
    </ion-item>        
  </span> 
</ion-content>
