<ion-grid>
  <ion-row>
    <ion-col class="logo">
      <img class="brand" [src]="cardLogo">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="chip">
      <img src="assets/img/chip.png">
    </ion-col>
  </ion-row>
  <ion-row class="digits">
    <ion-col class="number">
      {{cardNumber}}
    </ion-col>        
  </ion-row>
  <ion-row>
    <ion-col class="date">
      Expires: {{cardExpirationMonth}}/{{cardExpirationYear}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="holder">
      {{cardholderName}}
    </ion-col>
  </ion-row>
</ion-grid>

<form id="form-checkout" >
  <input class="item-card" type="text" name="cardNumber" id="form-checkout__cardNumber" />
  
  <ion-row>
    <input type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />     
  </ion-row>
  <ion-row>
    <input type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
  </ion-row>
  
  
  
  <input type="text" name="cardholderName" id="form-checkout__cardholderName"/>
  <input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"/>
  <input type="text" name="securityCode" id="form-checkout__securityCode" />
  <select name="issuer" id="form-checkout__issuer"></select>
  <select name="identificationType" id="form-checkout__identificationType"></select>
  <input type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
  
  
  <select [ngClass]="{
    'ver': amount != '0', 
    'ocultar': amount=='0'}" name="installments" id="form-checkout__installments"></select>
  
  <!--button type="submit" id="form-checkout__submit">Pay</button-->

  <progress value="0" class="progress-bar">loading...</progress>

  <ion-button *ngIf="amount =='0'" class="button-rounded" slot="end" (click)="cargar()">Continuar</ion-button>      
    <ion-button *ngIf="amount !='0'" class="button-rounded" slot="end" (click)="cobrar()">Cobrar</ion-button> 

</form>
