<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  size="small">Dashboard Comercio</ion-title>    
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

  <div >
    Hola! Administrador
  </div>


  <ion-button  *appCheckUsuarioPermisos="{feature:'catalogo',permiso:'Visible'}" class="button-rounded" size="large" (click)="irServiciosProductos()">Venta</ion-button>
  <ion-button  *appCheckUsuarioPermisos="{feature:'cajas',permiso:'Visible'}" class="button-rounded" size="large" (click)="irEgresoCaja()">Egreso</ion-button>   
  <ion-button class="button-rounded" color="light" (click)="selectUSB()">Seleccionar USB</ion-button>
  <ion-button class="button-rounded" color="light" (click)="connectUSB()">Conectar USB</ion-button>
  <ion-button class="button-rounded" color="light" [href]="link">Marketplace</ion-button>
  <ion-button class="button-rounded" color="light" (click)="mostrarFactura()"></ion-button>
</ion-content>  
